@media screen and (max-width: 900px) {
  main>.social>.twitterbox {
    margin-right: 0 !important
  }

  main>.box>h1.title {
    font-size: 2.3em !important;
    display: block
  }

  main>.box>h1.title>span {
    display: none !important
  }

  main>.box>p.subtitle {
    opacity: .4;
    display: inline;
    font-size: .7em
  }
}

body {
  overflow: hidden !important
}

main>.bg-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url(../images/header_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed
}

main>.bg-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  opacity: .5
}

main>.box {
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: white
}

main>.box>h1.title {
  letter-spacing: .25em;
  font-size: 4em;
  -webkit-transition: letter-spacing 1s ease;
  transition: letter-spacing 1s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

main>.box>h1.title>span {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: .2
}

main>.box>h1.title>span::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-animation: animate 2s linear infinite;
  animation: animate 2s linear infinite
}

main>.box>h1.title>span:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  left: -50%
}

main>.box>h1.title>span:nth-child(2) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 50%;
  top: -25px
}

main>.box>h1.title>span:nth-child(2)::before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s
}

main>.box>p.subtitle {
  opacity: .4;
  display: inline
}

main>.social {
  text-align: center;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: .4
}

main>.social>.twitterbox, main>.social>.discordbox {
  display: inline-block
}

main>.social>.twitterbox {
  margin-right: 100px
}

main>.social>.twitterbox>a, main>.social>.discordbox>p {
  display: block;
  color: white;
  font-size: 1.2em;
  margin-top: 10px
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left
  }

  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left
  }

  50.1% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: right;
    transform-origin: right
  }

  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right
  }
}

@keyframes animate {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left
  }

  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left
  }

  50.1% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: right;
    transform-origin: right
  }

  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right
  }
}
